$mainColor: #222222;
$secondColor: #f16d7f;
$thirdColor: #636363;
$fourthColor: #5d5d5d;

$fifthColor: #ffffff;
$sixthColor: #ebebeb;
$seventhColor: #6f6e6e;
$eightthColor: #fbfbfb;

$mainFont: "Lato Regular";
$secondFont: "Lato Light";
$thirdFont: "Roboto Regular";

$widthSite: 1140px;
$gapGrid: 30px;

$thirdSite: calc(($widthSite - $gapGrid) / 3);

$widthMenuBurger: 232px;
